<manifest
		xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns:tools="http://schemas.android.com/tools"
  	package="com.freshboxid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
				android:name=".MainApplication"
				android:label="@string/app_name"
				android:icon="@mipmap/ic_launcher"
				android:roundIcon="@mipmap/ic_launcher_round"
				android:requestLegacyExternalStorage="true"
				android:usesCleartextTraffic="true"
				android:allowBackup="false"
				android:theme="@style/AppTheme"
				tools:replace="android:usesCleartextTraffic">
				<activity
						android:name=".MainActivity"
						android:label="@string/app_name"
						android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
						android:launchMode="singleTask"
						android:windowSoftInputMode="adjustResize"
						android:screenOrientation="portrait" 
						android:exported="true">

					<intent-filter>
							<action android:name="android.intent.action.MAIN" />
							<category android:name="android.intent.category.LAUNCHER" />
					</intent-filter>

					<intent-filter android:label="@string/app_name">
							<action android:name="android.intent.action.VIEW" />
							<category android:name="android.intent.category.DEFAULT" />
							<category android:name="android.intent.category.BROWSABLE" />
							<data
								android:scheme="http"
								android:host="ec2-18-236-134-251.us-west-2.compute.amazonaws.com"
								android:path="/password/reset"
							/>
					</intent-filter>

					<intent-filter android:label="filter_react_native">
							<action android:name="android.intent.action.VIEW" />
							<category android:name="android.intent.category.DEFAULT" />
							<category android:name="android.intent.category.BROWSABLE" />
							<data android:scheme="freshbox" android:host="payment" />
					</intent-filter>

					<intent-filter android:label="filter_react_native">
							<action android:name="android.intent.action.VIEW" />
							<category android:name="android.intent.category.DEFAULT" />
							<category android:name="android.intent.category.BROWSABLE" />
							<data android:scheme="freshbox" android:host="ProductList" />
							<data android:scheme="http" android:host="ProductList" />
					</intent-filter>

					<intent-filter android:label="filter_react_native">
							<action android:name="android.intent.action.VIEW" />
							<category android:name="android.intent.category.DEFAULT" />
							<category android:name="android.intent.category.BROWSABLE" />
							<data android:scheme="freshboxapp"/>
					</intent-filter>
				</activity>

				<!-- facebook login -->
				<activity android:name="com.facebook.FacebookActivity"
						android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
						android:label="@string/app_name" />
				<activity
						android:name="com.facebook.CustomTabActivity"
						android:exported="true">
						<intent-filter>
								<action android:name="android.intent.action.VIEW" />
								<category android:name="android.intent.category.DEFAULT" />
								<category android:name="android.intent.category.BROWSABLE" />
								<data android:scheme="@string/fb_login_protocol_scheme" />
						</intent-filter>
				</activity>

				<!-- metadata -->
				<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
   			<meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
				<meta-data android:name="com.onesignal.NotificationAccentColor.DEFAULT" android:value="FFE52546"/>

				<!-- android exported config -->
				<activity android:name="com.onesignal.NotificationOpenedActivityHMS" android:exported="true" tools:replace="android:exported"></activity>
				<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:exported="true" tools:replace="android:exported"></receiver>
				<receiver android:name="com.onesignal.BootUpReceiver" android:exported="true" tools:replace="android:exported"></receiver>
				<receiver android:name="com.onesignal.UpgradeReceiver" android:exported="true" tools:replace="android:exported"></receiver>
				<service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true"
						tools:replace="android:exported">
        </service>
    </application>

</manifest>
