<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001907324369-5ts34coidm2o0s0u5c1gvmflai8jbv49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001907324369-5ts34coidm2o0s0u5c1gvmflai8jbv49</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1001907324369-7qaek55la7n09rkee68aofcqit2idlk6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALPvQjkm-Ly2dGpQkZCVw8gvNp41T3ZmI</string>
	<key>GCM_SENDER_ID</key>
	<string>1001907324369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freshbox.id</string>
	<key>PROJECT_ID</key>
	<string>freshbox-d3b71</string>
	<key>STORAGE_BUCKET</key>
	<string>freshbox-d3b71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001907324369:ios:ae3a5fb85cd2edcdf4ccf0</string>
	<key>DATABASE_URL</key>
	<string>https://freshbox-d3b71.firebaseio.com</string>
</dict>
</plist>